



p3{
    background:grey;
    font-size: 200%;
    font-style:normal;
}
p4{
    background:grey;
    font-size: 200%;
    font-style:normal;
}
h5{
    background: grey;
}

footer{
    background:grey;
    text-align:center;
    font-size: 100%;
}